<%- include("./partials/header")  %>
    <body>
        <h1>Blogs</h1>
            <h3><%= result.title %></h3>            
            <p><%= result.body %></p>
        <script src="static/js/script.js"></script>
    </body>

    <%- include("./partials/footer")%>
</html>