<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header")  %>

    <body>
        <h1>Blogs</h1>

        <script src="static/js/script.js"></script>
    </body>

    <%- include("./partials/footer")%>
</html>